/* Reiniciar el navegador para evitar diferencia de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* estilos generales del cuerpo de la pagina*/
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: rgba(101, 174, 235, 0.914);
    color: rgb(46, 46, 5);
}

/* estilo para el encabezado con degradado*/
.site-header{
    background: linear-gradient(90deg, #73ff50,#000000);
    color:rgb(30, 150, 150);
    padding: 1rem;
    text-align: center;
}